<!doctype html>
<html lang="en" onmouseup="dropdown_hide()">
<head>
	<meta charset="utf-8">
	<title>Kolibri Downloads</title>
	<link rel="icon" type="image/x-icon" href="../favicon.ico">
	<meta name="description" content="Kolibri Downloads">
	<meta name="keywords" content="kolibri, kolibrios, колибри, colibri, operating system, assembler, калибри, fasm, alternate, open source">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<script src='../script.js'></script>
</head>
<body onkeydown='checkkey(event)'>

	<div id="lang-dropdown">
		<ul>
			<li><a class='sel' href='../en/download.htm'><img src='../i/fl/en.png' alt='en'/>English</a></li>
			<li><a href='../de/download.htm'><img src='../i/fl/de.png' alt='de'/>Deutsch</a></li>
			<li><a href='../es/download.htm'><img src='../i/fl/es.png' alt='es'/>Español</a></li>
			<li><a href='../fr/download.htm'><img src='../i/fl/fr.png' alt='fr'/>Français</a></li>
			<li><a href='../it/download.htm'><img src='../i/fl/it.png' alt='it'/>Italiano</a></li>
			<li><a href='../nl/download.htm'><img src='../i/fl/nl.png' alt='nl'/>Nederlands</a></li>
			<li><a href='../ru/download.htm'><img src='../i/fl/ru.png' alt='ru'/>Русский</a></li>
		</ul>
	</div>
	
	<nav id="menu">
		<a href="../en/index.htm">Kolibri</a>
		<a href="../en/download.htm" class='a'>Download</a>
		<a href="../en/screen.htm">Screenshots</a>
		<a href="http://board.kolibrios.org">Forum</a>
		<a href="http://wiki.kolibrios.org/index.php?title=Main_Page&amp;setlang=en">Wiki</a>
		<a href="https://git.kolibrios.org">Gitea</a>
		<a href="http://bugs.kolibrios.org" class="notrequired">Bug tracker</a>
		<button onclick="dropdown_show(this)" id="l"><img src="../i/fl/en.png" alt="en"></button>
	</nav>


	<div id="article" class="download">
	<h1>Kolibri Downloads</h1>
		<table>
			<tr>
				<td width=38><img src="../i/i_floppy.png" alt="floppy"></td>
				<td class="description_cell">Floppy disk image</td>
				<td class="date_cell">$autobuild_date_en</td>
				<td>
					<a href="//builds.kolibrios.org/en_US/latest-img.7z" title="ver. $autobuild_cmtid_en_US, $autobuild_size_en_US_img">English</a>
					<a href="//builds.kolibrios.org/ru_RU/latest-img.7z" title="ver. $autobuild_cmtid_ru_RU, $autobuild_size_ru_RU_img">Русский</a>
					<a href="//builds.kolibrios.org/it_IT/latest-img.7z" title="ver. $autobuild_cmtid_it_IT, $autobuild_size_it_IT_img">Italiano</a>
					<a href="//builds.kolibrios.org/es_ES/latest-img.7z" title="ver. $autobuild_cmtid_es_ES, $autobuild_size_es_ES_img">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_cd.png" alt="cd"></td>
				<td class="description_cell">LiveCD image</td>
				<td class="date_cell">$autobuild_date_en</td>
				<td>
					<a href="//builds.kolibrios.org/en_US/latest-iso.7z" title="ver. $autobuild_cmtid_en_US, $autobuild_size_en_US_iso">English</a>
					<a href="//builds.kolibrios.org/ru_RU/latest-iso.7z" title="ver. $autobuild_cmtid_ru_RU, $autobuild_size_ru_RU_iso">Русский</a>
					<a href="//builds.kolibrios.org/it_IT/latest-iso.7z" title="ver. $autobuild_cmtid_it_IT, $autobuild_size_it_IT_iso">Italiano</a>
					<a href="//builds.kolibrios.org/es_ES/latest-iso.7z" title="ver. $autobuild_cmtid_es_ES, $autobuild_size_es_ES_iso">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_uni.png" alt="universal"></td>
				<td class="description_cell">Universal image Flash/HDD</td>
				<td class="date_cell">$autobuild_date_en</td>
				<td>
					<a href="//builds.kolibrios.org/en_US/latest-distr.7z" title="ver. $autobuild_cmtid_en_US, $autobuild_size_en_US_distr">English</a>
					<a href="//builds.kolibrios.org/ru_RU/latest-distr.7z" title="ver. $autobuild_cmtid_ru_RU, $autobuild_size_ru_RU_distr">Русский</a>
					<a href="//builds.kolibrios.org/it_IT/latest-distr.7z" title="ver. $autobuild_cmtid_it_IT, $autobuild_size_it_IT_distr">Italiano</a>
					<a href="//builds.kolibrios.org/es_ES/latest-distr.7z" title="ver. $autobuild_cmtid_es_ES, $autobuild_size_es_ES_distr">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_uefi.png" alt="uefi"></td>
				<td class="description_cell">Hybrid UEFI/BIOS image for Flash/HDD</td>
				<td class="date_cell">$autobuild_date_en</td>
				<td>
					<a href="//builds.kolibrios.org/en_US/latest-raw.7z" title="ver. $autobuild_cmtid_en_US, $autobuild_size_en_US_raw">English</a>
					<a href="//builds.kolibrios.org/ru_RU/latest-raw.7z" title="ver. $autobuild_cmtid_ru_RU, $autobuild_size_ru_RU_raw">Русский</a>
					<a href="//builds.kolibrios.org/it_IT/latest-raw.7z" title="ver. $autobuild_cmtid_it_IT, $autobuild_size_it_IT_raw">Italiano</a>
					<a href="//builds.kolibrios.org/es_ES/latest-raw.7z" title="ver. $autobuild_cmtid_es_ES, $autobuild_size_es_ES_raw">Español</a>
				</td>
			</tr>
			<tr>
				<td><div></div></td>
				<td colspan="3">
					<button class="help-button" onclick="alert('For a beginner, the LiveCD is best.\n\nCompared to a LiveCD, the advantage of a universal image is that you can save changes made in Kolibri.\n\nHybrid image includes support for UEFI technology, which is used to boot the system on new computers and laptops.');">Which to choose?</button>
					<a href="//archive.kolibrios.org/en/">Kolibri previous releases</a>
					<a href="//builds.kolibrios.org/">All nightly builds</a>
				</td>
			</tr>
		</table>		

		<p>On this page you can download the nightly builds distribution &mdash; which means that they always contain the most recent changes in the system and can therefore be unstable. All files are compressed with <a href='http://www.7-zip.org' target='_blank'>7zip</a>.
		KolibriOS is distributed under under <a href='http://www.gnu.org/licenses/gpl-2.0.html' target='_blank'>GPLv2</a>
		license, its source code is available on our <a href='https://git.kolibrios.org'>GIT</a> server.
		</p>

	</div>
  <div id="footer">&copy; 2004<script>document.write("&thinsp;&ndash;&thinsp;" + new Date().getFullYear())</script> KolibriOS Team</div>
</body>
</html>
