<p>
    <b>{{ _('menu:kolibrios') }}</b>
    {{ _('article:p1[0]') }}
    <a href="http://wiki.kolibrios.org/wiki/Hardware_Support">
        {{- _('article:p1[1]') -}}
    </a>
    {{ _('article:p1[2]') }}
</p>

<iframe src="https://www.youtube.com/embed/IEi25wYyj20" allowfullscreen="true"></iframe>

<p>
    {{ _('article:p2[0]') }}
    <b>{{ _('menu:kolibrios') }}</b>
    {{ _('article:p2[1]') }}
    <a href="http://www.flatassembler.net" target="_blank">FASM</a>
    {{ _('article:p2[2]') }}
    <b>{{ _('menu:kolibrios') }}</b>
    {{ _('article:p2[3]') }}
</p>

<p>
    <b>{{ _('menu:kolibrios') }}</b>
    {{ _('article:p3[0]') }}
    <a href="http://board.kolibrios.org">
        {{- _('article:p3[1]') -}}
    </a>
    {{ _('article:p3[2]') }}
    <a href="https://git.kolibrios.org/KolibriOS/kolibrios">
        {{- _('article:p3[3]') -}}
    </a>
    {{ _('article:p3[4]') }}
</p>

<p class="p-subscription">
    <b>
        {{ _('article:p_subscription[0]') }}
        <br/>
        {{ _('article:p_subscription[1]') }}
    </b>
</p>
