<p>
    {{ _(
        'article:p1',
        kolibrios="<b>{0}</b>"
            .format(_('menu:kolibrios')),
        drivers="<a href='http://wiki.kolibrios.org/wiki/Hardware_Support'>{0}</a>"
            .format(_('article:drivers'))
    ) | safe }}
</p>

<iframe src="https://www.youtube.com/embed/IEi25wYyj20" allowfullscreen="true"></iframe>

<p>
    {{ _(
        'article:p2',
        kolibrios="<b>{0}</b>"
            .format(_('menu:kolibrios')),
        fasm="<a href='http://www.flatassembler.net' target='_blank'>FASM</a>"
    ) | safe }}
</p>

<p>
    {{ _(
        'article:p3',
        kolibrios="<b>{0}</b>"
            .format(_('menu:kolibrios')),
        feedback="<a href='http://board.kolibrios.org'>{0}</a>"
            .format(_('article:feedback')),
        help="<a href='https://git.kolibrios.org/KolibriOS/kolibrios'>{0}</a>"
            .format(_('article:help'))
    ) | safe }}
</p>

<p class="p-subscription">
    <b>
        {{ _('article:p_subscription') }}
        <br/>
        {{ _('footer:team') }}
    </b>
</p>
