<a id="banner" href="https://git.kolibrios.org" target="_blank">
    <table>
        <tr>
            <td valign="top" width="128">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Banner Image" />
            </td>
            <td valign="top">
                <h1>{{ locale['git']['header'] }}</h1>
                <p>{{ locale['git']['text'] }}</p>
                <p class="p-link">
                    <a href="https://git.kolibrios.org">https://git.kolibrios.org</a>
                </p>
            </td>
            <td valign="top" width="128">
                <img src="{{ url_for('static', filename='img/icons/gitea.png') }}" alt="Banner Image" />
            </td>
        </tr>
    </table>
</a>
