<head>
    <meta charset="utf-8">
    <title>{{ _('title:%s' % request.url_rule.endpoint) }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="description" content="{{ _('header:%s' % request.url_rule.endpoint) }}">
    <meta name="keywords"
        content="kolibri, kolibrios, colibri, colibrios, колибри, колибриос, калибри, калибриос, operating system, assembler, fasm, alternate, open source">
    <meta name="viewport" content="width=device-width">
    {% if not config.NOCSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">{% endif %}
    {% if not config.NOJS %}<script src="{{ url_for('static', filename='script.min.js') }}"></script>{% endif %}
</head>
