<div id="lang-dropdown">
    <div>
    {%- for lang_item in loc_list %}
        {% set lang_code = lang_item.code %}
        {% set lang_name = lang_item.name %}
        {%- if request.view_args["lang"] == lang_code %}
            <font bg=#FF9800>
                <a class="a-sel" href="{{ url_for(request.url_rule.endpoint, lang=lang_code) }}">
                    <img 
                        src="{{ url_for('static', filename='img/flags/%s.png' % lang_code) }}" 
                        alt="{{ lang_code }}"
                    />
                    {{ lang_name }}
                </a>
            </font>
        {%- else %}
            <a href="{{ url_for(request.url_rule.endpoint, lang=lang_code) }}">
                <img 
                    src="{{ url_for('static', filename='img/flags/%s.png' % lang_code) }}" 
                    alt="{{ lang_code }}"
                />
                {{ lang_name }}
            </a>
        {%- endif %}
    {%- endfor %}
    </div>
</div>