<nav id="menu">
    <a href="{{ url_for('index', lang=lang) }}" class="{% if current == 'index' %}a-sel{% endif %}">
        {% if current == 'index' %}
            <font bg="lightblue">{{ locale['menu']['kolibrios'] }}</font>
        {% else %}
            {{ locale['menu']['kolibrios'] }}
        {% endif %}
    </a>
    
    <a href="{{ url_for('download', lang=lang) }}" class="{% if current == 'download' %}a-sel{% endif %}">
        {% if current == 'download' %}
            <font bg="lightblue">{{ locale['menu']['download'] }}</font>
        {% else %}
            {{ locale['menu']['download'] }}
        {% endif %}
    </a>

    <a href="https://board.kolibrios.org">{{ locale['menu']['forum'] }}</a>
    <a href="https://wiki.kolibrios.org/wiki/Main_Page/{{ lang }}">{{ locale['menu']['wiki'] }}</a>
    <a href="https://git.kolibrios.org">Git</a>
    
    <button onclick="dropdown_show(this)" id="lang-butt">
        <img src="{{ url_for('static', filename='img/flags/%s.png' % lang) }}" alt="{{ lang }}">
    </button>
</nav>
