        <p class="p-socials">
            <a href="https://t.me/kolibrios_news" target="_blank">
                <img src="{{ url_for('static', filename='img/icons/i_telegram.png') }}" alt="Telegram">Telegram
            </a>
            <br />
            <a href="https://discord.com/invite/FeB2NvE6bF" target="_blank">
                <img src="{{ url_for('static', filename='img/icons/i_discord.png') }}" alt="Discord">Discord
            </a>
            <br />
            <a href="https://www.facebook.com/groups/kolibrios/" target="_blank">
                <img src="{{ url_for('static', filename='img/icons/i_facebook.png') }}" alt="Facebook">Facebook
            </a>
            <br />
            <a href="https://www.reddit.com/r/KolibriOS/" target="_blank">
                <img src="{{ url_for('static', filename='img/icons/i_reddit.png') }}" alt="Reddit">Reddit
            </a>
        </p>
