<!doctype html>
<html lang="it" onmouseup="dropdown_hide()">
<head>
  <meta charset="utf-8">
  <title>Kolibri Downloads</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta name="description" content="Kolibri Downloads">
  <meta name="keywords" content="kolibri, kolibrios, колибри, colibri, operating system, assembler, калибри, fasm, alternate, open source">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type='text/javascript' src='/script.js'></script>
</head>
<body onkeydown='checkkey(event)'>
	<div id="menu">
		<a href="/it/index" >Kolibri</a>
		<a href="/it/download" class='a'>Download</a>
		<a href="/it/screen" >Screenshot</a>
		<a href="http://board.kolibrios.org">Forum</a>
		<a href="http://wiki.kolibrios.org/index.php?title=Main_Page&amp;setlang=it">Wiki</a>
		<a href="http://websvn.kolibrios.org">Repository SVN</a>
		<a href="http://bugs.kolibrios.org" class="notrequired">Bug tracker</a>
		<button onclick="dropdown_show(this)" id="l"><img src="/i/fl/it.png" alt="it"></button>
	</div>

	<div id="lang-dropdown">
		<ul>
			<li><a href='/en/download'><img src='/i/fl/en.png' alt='en'/>English</a></li>
			<li><a href='/de/download'><img src='/i/fl/de.png' alt='de'/>Deutsch</a></li>
			<li><a href='/es/download'><img src='/i/fl/es.png' alt='es'/>Español</a></li>
			<li><a href='/fr/download'><img src='/i/fl/fr.png' alt='fr'/>Français</a></li>
			<li><a class='sel' href='/it/download'><img src='/i/fl/it.png' alt='it'/>Italiano</a></li>
			<li><a href='/nl/download'><img src='/i/fl/nl.png' alt='nl'/>Nederlands</a></li>
			<li><a href='/ru/download'><img src='/i/fl/ru.png' alt='ru'/>Русский</a></li>
		</ul>
	</div>

	<div id="article" class="download">
	<h1>Kolibri Downloads</h1>
		<table>
			<tr>
				<td><div style="background-position: 0 -64px;"></div></td>
				<td class="description_cell">Immagine CD live</td>
				<td class="date_cell">$autobuild_date_ru</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-iso.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_iso">English</a>
					<a href="//builds.kolibrios.org/rus/latest-iso.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_iso">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-iso.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_iso">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-iso.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_iso">Español</a>
				</td>
			</tr>
			<tr>
				<td><div style="background-position: 0 -32px;"></div></td>
				<td class="description_cell">Immagine universale Flash/HDD</td>
				<td class="date_cell">$autobuild_date_ru</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-distr.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_distr">English</a>
					<a href="//builds.kolibrios.org/rus/latest-distr.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_distr">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-distr.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_distr">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-distr.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_distr">Español</a>
				</td>
			</tr>
			<tr>
			<tr>
				<td><div style="background-position: 0 -159px;"></div></td>
				<td class="description_cell"><span class="beta">Immagine ibrida UEFI/BIOS per Flash/HDD</span></td>
				<td class="date_cell">$autobuild_date_ru</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-raw.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_raw">English</a>
					<a href="//builds.kolibrios.org/rus/latest-raw.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_raw">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-raw.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_raw">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-raw.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_raw">Español</a>
				</td>
			</tr>
			<tr>
				<td><div></div></td>
				<td colspan="3">
					<button class="help-button" onclick="alert('For a beginner, the LiveCD is best.\n\nCompared to a LiveCD, the advantage of a universal image is that you can save changes made in Kolibri.\n\nHybrid image includes support for UEFI technology, which is used to boot the system on new computers and laptops. Beta version.');">Quale scegliere?</button>
					<a href="//archive.kolibrios.org/it/">Versioni precedenti di KolibriOS</a>
				</td>
			</tr>
		</table>	

		<p style="line-height:1.4; margin: 20px 0;">
			Da questa pagina è possibile scaricare le nightly builds di KolibriOS. Si tratta delle ultime versioni disponibili e contengono i cambiamenti più
  recenti, per questo motivo possono risultare instabili. Tutti i file sono compressi con <a href='http://www.7-zip.org' target='_blank'>7-zip</a>.
  KolibriOS è un sistema operativo distributio sotto la licenza <a href='http://www.gnu.org/licenses/gpl-2.0.html' target='_blank'>GPLv2</a>,
  il codice è disponibile sul server <a href='svn://kolibrios.org'>SVN</a>.		</p>

	</div>
  <div id="footer">&copy; 2004<span>&ndash;</span>2021  Il team di KolibriOS</div></body>
</html>