<!doctype html>
<html lang="nl" onmouseup="dropdown_hide()">
<head>
	<meta charset="utf-8">
	<title>KolibriOS downloads</title>
	<link rel="icon" type="image/x-icon" href="../favicon.ico">
	<meta name="description" content="KolibriOS downloads">
	<meta name="keywords" content="kolibri, kolibrios, колибри, colibri, operating system, assembler, калибри, fasm, alternate, open source">
	<meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <script src='../script.js'></script>
</head>
<body onkeydown='checkkey(event)'>

	<nav id="lang-dropdown">
		<ul>
			<li><a href='../en/download.htm'><img src='../i/fl/en.png' alt='en'/>English</a></li>
			<li><a href='../de/download.htm'><img src='../i/fl/de.png' alt='de'/>Deutsch</a></li>
			<li><a href='../es/download.htm'><img src='../i/fl/es.png' alt='es'/>Español</a></li>
			<li><a href='../fr/download.htm'><img src='../i/fl/fr.png' alt='fr'/>Français</a></li>
			<li><a href='../it/download.htm'><img src='../i/fl/it.png' alt='it'/>Italiano</a></li>
			<li><a href='../nl/download.htm' class='sel'><img src='../i/fl/nl.png' alt='nl'/>Nederlands</a></li>
			<li><a href='../ru/download.htm'><img src='../i/fl/ru.png' alt='ru'/>Русский</a></li>
		</ul>
	</nav>
	
	<nav id="menu">
		<a href="../nl/index.htm">Kolibri</a>
		<a href="../nl/download.htm" class='a'>Download</a>
		<a href="../nl/screen.htm">Schermopnames</a>
		<a href="http://board.kolibrios.org">Forum</a>
		<a href="http://wiki.kolibrios.org/index.php?title=Main_Page&amp;setlang=nl">Wiki</a>
		<a href="http://websvn.kolibrios.org">Broncode en extra programma's</a>
		<a href="http://bugs.kolibrios.org" class="notrequired">Bug Tracker</a>
		<button onclick="dropdown_show(this)" id="l"><img src="../i/fl/nl.png" alt="nl"></button>
	</nav>

	<div id="article" class="download">
	<h1>Kolibri downloads</h1>
		<table>
			<tr>
				<td width=38><img src="../i/i_floppy.png" alt="floppy"></td>
				<td class="description_cell">Diskette-image</td>
				<td class="date_cell">$autobuild_date_nl</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-img.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_img">English</a>
					<a href="//builds.kolibrios.org/rus/latest-img.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_img">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-img.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_img">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-img.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_img">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_cd.png" alt="cd"></td>
				<td class="description_cell">CD-versie (live-CD)</td>
				<td class="date_cell">$autobuild_date_nl</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-iso.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_iso">English</a>
					<a href="//builds.kolibrios.org/rus/latest-iso.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_iso">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-iso.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_iso">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-iso.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_iso">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_uni.png" alt="universal"></td>
				<td class="description_cell">Universele afbeelding Flash/HDD</td>
				<td class="date_cell">$autobuild_date_nl</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-distr.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_distr">English</a>
					<a href="//builds.kolibrios.org/rus/latest-distr.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_distr">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-distr.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_distr">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-distr.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_distr">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_uefi.png" alt="uefi"></td>
				<td class="description_cell">Hybride UEFI/BIOS-image voor Flash/HDD</td>
				<td class="date_cell">$autobuild_date_nl</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-raw.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_raw">English</a>
					<a href="//builds.kolibrios.org/rus/latest-raw.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_raw">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-raw.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_raw">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-raw.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_raw">Español</a>
				</td>
			</tr>
			<tr>
				<td><div></div></td>
				<td colspan="3">
					<button class="help-button" onclick="alert('For a beginner, the LiveCD is best.\n\nCompared to a LiveCD, the advantage of a universal image is that you can save changes made in Kolibri.\n\nHybrid image includes support for UEFI technology, which is used to boot the system on new computers and laptops.');">Welke te kiezen?</button>
					<a href="//archive.kolibrios.org/nl/">Kolibri vorige releases</a>
					<a href="//builds.kolibrios.org/">Alle baugruppen</a>
				</td>
			</tr>
		</table>

		<p>Hier kunt u de versies downloaden die 's nachts gebouwd zijn. Deze bevatten de nieuwste snufjes en kunnen daardoor instabiel zijn.
  			Alle bestanden zijn gecomprimeerd met het programma <a href='http://www.7-zip.org' target='_blank'>7zip</a>.
 			KolibriOS is vrijgegeven onder een <a href='http://www.gnu.org/licenses/gpl-2.0.html' target='_blank'>GPLv2</a> licentie,
  			de broncode kunt u downloaden via onze <a href='svn://kolibrios.org'>SVN-server</a>.
  		</p>

	</div>
  <div id="footer">&copy; 2004<script>document.write("&thinsp;&ndash;&thinsp;" + new Date().getFullYear())</script> KolibriOS Team</div>
</body>
</html>