{% extends 'tmpl/index.htm' %}

{% block content %}
    {% include 'tmpl/_git.htm' %}

    <p>
        <b>KolibriOS</b> ist ein winziges, aber unglaublich leistungsfähiges 
        und schnelles Betriebssystem für x86-kompatible PCs.
        Es benötigt nur wenige Megabyte Speicherplatz, einen i586-Prozessor und 12 MB RAM.
        Trotz seiner geringen Größe enthält es eine Vielzahl von 
        Anwendungen wie einen Texteditor, einen Bildbetrachter, einen Grafikeditor, 
        einen Webbrowser und über 30 spannende Spiele.
        Es bietet vollständige Unterstützung für die Dateisysteme FAT12/16/32, 
        ermöglicht Lesezugriff auf NTFS, exFAT, ISO9660 und Ext2/3/4
        sowie eine umfangreiche Sammlung von 
        <a href="http://wiki.kolibrios.org/wiki/Hardware_Support">Treibern</a>
        für gängige Sound-, Netzwerk- und Grafikkarten.
    </p>

    <iframe src="https://www.youtube.com/embed/SATYQyIcimM" allowfullscreen="true"></iframe>

    <p>
        Haben Sie schon einmal von einem System geträumt, das in weniger als wenigen 
        Sekunden vom Einschalten bis zu einer funktionierenden GUI bootet? 
        Anwendungen, die sofort starten, direkt nach dem Klicken auf ein Symbol, 
        ohne lästige Sanduhrzeiger? Diese Geschwindigkeit wird erreicht, da die 
        Kernkomponenten von <b>KolibriOS</b> (Kernel und Treiber)
        vollständig in der Assemblersprache
        <a href="http://www.flatassembler.net" target="_blank">FASM</a> geschrieben 
        sind!
        Probieren Sie <b>KolibriOS</b> aus und vergleichen Sie es mit Schwergewichten 
        wie Windows und Linux.
    </p>
    
    <p>
        <b>KolibriOS</b> hat sich 2004 von MenuetOS abgespalten und wird seitdem 
        unabhängig entwickelt.
        Ihr <a href="http://board.kolibrios.org">Feedback</a> wird sehr geschätzt,
        und Ihre <a href="https://git.kolibrios.org/KolibriOS/kolibrios">Hilfe</a> 
        ist noch mehr willkommen.
    </p>

    <p class="p-subscription">
        <b>
            Wir hoffen, es gefällt Ihnen!<br />
            Ihr KolibriOS-Team
        </b>
    </p>

{% endblock %}
