<!doctype html>
<html lang="{{ lang }}">

{% include 'tmpl/_header.htm' %}

<body>

    {% include 'tmpl/_menu.htm' %}

    <div id="article">
        <h1>{{ _('downloads:header') }}</h1>

        <table>
            <tr class="tr-margin-bot">
                <td colspan="3"><hr /></td>
            </tr>

            <tr class="tr-margin-bot tr-header">
                <td class="td-image" width="40">
                    <img src="{{ url_for('static', filename='img/icons/i_kolibrios.png') }}" alt="kolibrios">
                </td>
                <td class="td-description">
                    {{ _('downloads:version') }} <b>{{ autobuild_vers }}</b>
                </td>
                <td class="td-languages">
                    {{ _('downloads:date') }} <b>{{ autobuild_date }}</b>
                </td>
            </tr>

            <tr class="tr-margin-bot">
                <td colspan="3"><hr /></td>
            </tr>

            {% for ext, alt in (
                ('img', 'floppy'),
                ('iso', 'cd'),
                ('raw', 'uefi'),
                ('zip', 'distr')
            ) %}
            <tr class="tr-margin-bot">
                <td class="td-image" width="40">
                    <img src="{{ url_for('static', filename='img/icons/i_%s.png' % alt) }}" alt="{{ alt }}">
                </td>
                <td class="td-description">
                    {{ _('downloads:%s-descr' % ext) }}
                </td>
                <td class="td-languages">
                    {% for l, lang in (
                        ('en_US', 'English'),
                        ('ru_RU', 'Русский'),
                        ('es_ES', 'Español')
                    ) %}
                    <a href="//builds.kolibrios.org/{{ autobuild_files[l][ext] }}"
                        title="{{ autobuild_vers }}, {{ autobuild_sizes[l][ext] }}"
                        class="button">
                        {{ lang }}
                        {% if l == 'en_US' %}
                            <img src="{{ url_for('static', filename='img/flags/en.png') }}" alt="{{ lang }}">
                        {% elif l == 'ru_RU' %}
                            <img src="{{ url_for('static', filename='img/flags/ru.png') }}" alt="{{ lang }}">
                        {% elif l == 'es_ES' %}
                            <img src="{{ url_for('static', filename='img/flags/es.png') }}" alt="{{ lang }}">
                        {% endif %}
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="3"><hr /></td>
            </tr>
        </table>

        {% if not config.NOCSS %}<input type="checkbox" id="help-toggle">{% endif %}

        <table>
            <tr class="tr-margin-top">
                <td class="td-description td-info" colspan="2">
                    <label for="help-toggle" class="help-button">
                        <img src="{{ url_for('static', filename='img/icons/i_info.png') }}" alt="Info">&nbsp;<u>{{ _('downloads:download_choice') }}</u>
                    </label>
                </td>
                <td class="td-languages">
                    <a href="//archive.kolibrios.org/{{ g.locale | e }}/">
                        {{ _('downloads:prev_rev') }}
                    </a>
                    <a href="//builds.kolibrios.org/">
                        {{ _('downloads:all_rev') }}
                    </a>
                </td>
            </tr>
        </table>

        <div id="download-help">
            <div>
                {% for p in _(
                    'downloads:download_help',
                    kolibrios="<b>{0}</b>".format(_('title:index'))
                ).split('\\n') if p.strip() %}
                <p>{{ p | safe }}</p>
                {% endfor %}
            </div>
        </div>

        <p>
            {{ _(
                'downloads:download_description',
                kolibrios="<b>{0}</b>".format(_('title:index')),
                zip="<a href='https://7-zip.org' target='_blank'>7zip</a>",
                gpl="<a href='//www.gnu.org/licenses/gpl-2.0.html' target='_blank'>GPLv2</a>",
                git="<a href='//git.kolibrios.org'>{0}</a>".format(_('downloads:git-server'))
            ) | safe }}
        </p>

        {% if not config.NOCSS %}<input type="checkbox" id="warn-toggle">{% endif %}
        <label for="warn-toggle" class="warn-title">
            <img src="{{ url_for('static', filename='img/icons/i_warn.png') }}" alt="Warn">&nbsp;<u>{{ _('downloads:warn_title') }}</u>
        </label>

        <div id="download-warn">
            <div>
                <p>{{ _(
                    'downloads:download_warn',
                    kolibrios="<b>{0}</b>".format(_('title:index'))
                ) | safe }}</p>
            </div>
        </div>

        <h1>{{ _('screenshots:header') }}</h1>

        <div id="screen">
            {% set slides = _('screenshots:slides') | int %}
            {% for i in range(1, slides + 1) %}
            {% if not config.NOCSS %}<input type="radio" name="shot" id="slide{{ i }}" aria-label="{{ i }}"{% if i == 1 %} checked{% endif %}>{% endif %}
            <figure>
                <label for="slide{{ i % slides + 1 }}">
                    <img src="{{ url_for('static', filename='img/screenshots/%d.png' % i ) }}"
                        alt="{{ _('screenshots:%d' % i) }}">
                </label>
                <figcaption>{{ _('screenshots:%d' % i) }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>

    {% include 'tmpl/_footer.htm' %}
</body>

</html>
