<!doctype html>
<html lang="{{ lang }}">

{% include 'tmpl/_header.htm' %}

<body>

    {% include 'tmpl/_menu.htm' %}

    <div id="article">
        <h1>{{ _('downloads:header') }}</h1>

        <table>
            <tr class="tr-margin-bot">
                <td colspan="3"><hr /></td>
            </tr>

            <tr class="tr-margin-bot tr-header">
                <td class="td-image" width="40">
                    <img src="{{ url_for('static', filename='img/icons/i_kolibrios.png') }}" alt="kolibrios" width="32" height="32">
                </td>
                <td class="td-description">
                    {{ _('downloads:version') }} <b>{{ autobuild_vers }}</b>
                </td>
                <td class="right">
                    {{ _('downloads:date') }} <b>{{ autobuild_date }}</b>
                </td>
            </tr>

            <tr class="tr-margin-bot">
                <td colspan="3"><hr /></td>
            </tr>

            {% set dl_langs = (
                ('en_US', 'English'),
                ('ru_RU', 'Русский'),
                ('es_ES', 'Español')
            ) %}
            {% for ext, alt in (
                ('img', 'floppy'),
                ('iso', 'cd'),
                ('raw', 'uefi'),
                ('zip', 'distr')
            ) %}
            <tr class="tr-margin-bot">
                <td class="td-image" width="40">
                    <img src="{{ url_for('static', filename='img/icons/i_%s.png' % alt) }}" alt="{{ alt }}" width="32" height="32">
                </td>
                <td class="td-description">
                    {{ _('downloads:%s-descr' % ext) }}
                </td>
                <td class="right">
                    {% for l, lang in dl_langs %}
                    <a href="//builds.kolibrios.org/{{ autobuild_files[l][ext] }}"
                        title="{{ autobuild_vers }}, {{ autobuild_sizes[l][ext] }}"
                        class="button">
                        {{ lang }}
                        {% if l == 'en_US' %}
                            <img src="{{ url_for('static', filename='img/flags/en.png') }}" alt="{{ lang }}" width="16" height="11">
                        {% elif l == 'ru_RU' %}
                            <img src="{{ url_for('static', filename='img/flags/ru.png') }}" alt="{{ lang }}" width="16" height="11">
                        {% elif l == 'es_ES' %}
                            <img src="{{ url_for('static', filename='img/flags/es.png') }}" alt="{{ lang }}" width="16" height="11">
                        {% endif %}
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="3"><hr /></td>
            </tr>
        </table>

        {% set has_sums = autobuild_sums_files.values() | select | list %}
        {% if not config.NOCSS %}
        <input type="checkbox" id="help-toggle" autocomplete="off">
        {% if has_sums %}<input type="checkbox" id="sums-toggle" autocomplete="off">{% endif %}
        <input type="checkbox" id="warn-toggle" autocomplete="off">
        {% endif %}

        <table>
            <tr class="tr-margin-top">
                <td>
                    <label for="help-toggle" class="help-button">
                        <img src="{{ url_for('static', filename='img/icons/i_info.png') }}" alt="Info" width="16" height="16">&nbsp;<u>{{ _('downloads:download_choice') }}</u>
                    </label>
                    {% if has_sums %}
                    <label for="sums-toggle" class="sums-button">
                        <img src="{{ url_for('static', filename='img/icons/i_info_gray.png') }}" alt="Info" width="16" height="16">&nbsp;<u>{{ _('downloads:checksums') }}</u>
                    </label>
                    {% endif %}
                </td>
                <td class="right">
                    <a href="//archive.kolibrios.org/{{ g.locale | e }}/">
                        {{ _('downloads:prev_rev') }}
                    </a>
                    <a href="//builds.kolibrios.org/">
                        {{ _('downloads:all_rev') }}
                    </a>
                </td>
            </tr>
        </table>

        <div id="download-help">
            <div>
                {% for p in _(
                    'downloads:download_help',
                    kolibrios="<b>{0}</b>".format(_('title:index'))
                ).split('\\n') if p.strip() %}
                <p>{{ p | safe }}</p>
                {% endfor %}
            </div>
        </div>

        {% if has_sums %}
        <div id="download-sums">
            <div>
                <table>
                    {% for l, lang in dl_langs if autobuild_sums_files[l] %}
                    {% set last_lang = loop.last %}
                    <tr class="tr-margin-bot">
                        <td><b>{{ lang }}</b></td>
                        <td class="right"><a href="//builds.kolibrios.org/{{ autobuild_sums_files[l] }}">sha256sums.txt</a></td>
                    </tr>
                    {% for ext in ('img', 'iso', 'raw', 'zip') %}
                    <tr{% if not (last_lang and loop.last) %} class="tr-margin-bot"{% endif %}>
                        <td>.{{ ext }}</td>
                        <td class="right"><code>{{ autobuild_sums[l][ext] or '?' }}</code></td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        <p>
            {{ _(
                'downloads:download_description',
                kolibrios="<b>{0}</b>".format(_('title:index')),
                zip="<a href='https://7-zip.org' target='_blank'>7zip</a>",
                gpl="<a href='//www.gnu.org/licenses/gpl-2.0.html' target='_blank'>GPLv2</a>",
                git="<a href='//git.kolibrios.org'>{0}</a>".format(_('downloads:git-server'))
            ) | safe }}
        </p>

        <div id="download-warn">
            <label for="warn-toggle" class="warn-title">
                <img src="{{ url_for('static', filename='img/icons/i_warn.png') }}" alt="Warn" width="16" height="16">&nbsp;<u>{{ _('downloads:warn_title') }}</u>
            </label>
            <div>
                <p>{{ _(
                    'downloads:download_warn',
                    kolibrios="<b>{0}</b>".format(_('title:index'))
                ) | safe }}</p>
            </div>
        </div>

        <h1>{{ _('screenshots:header') }}</h1>

        <div id="screen">
            {% set slides = _('screenshots:slides') | int %}
            {% for i in range(1, slides + 1) %}
            {% if not config.NOCSS %}<input type="radio" name="shot" id="slide{{ i }}" aria-label="{{ i }}"{% if i == 1 %} checked{% endif %}>{% endif %}
            <figure>
                <label for="slide{{ i % slides + 1 }}">
                    <img src="{{ url_for('static', filename='img/screenshots/%d.png' % i ) }}"
                        alt="{{ _('screenshots:%d' % i) }}"
                        width="1280" height="800">
                </label>
                <figcaption>{{ _('screenshots:%d' % i) }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>

    {% include 'tmpl/_footer.htm' %}
</body>

</html>
