{% extends 'tmpl/index.htm' %}

{% block content %}
    {% include 'tmpl/_git.htm' %}

    <p>
        <b>KolibriOS</b> es un sistema operativo diminuto, pero increíblemente 
        potente y rápido para PCs compatibles con x86.
        Solo necesita unos pocos megabytes de espacio en disco, un procesador 
        i586 y 12 MB de memoria RAM.
        A pesar de su tamaño reducido, incluye un conjunto completo de aplicaciones 
        como un editor de texto,
        visor de imágenes, editor gráfico, navegador web y más de 30 juegos emocionantes.
        Ofrece soporte completo para los sistemas de archivos FAT12/16/32, 
        acceso de solo lectura a NTFS, exFAT, ISO9660 y Ext2/3/4,
        y dispone de un extenso conjunto de 
        <a href="http://wiki.kolibrios.org/wiki/Hardware_Support">controladores</a>
        para populares tarjetas de sonido, red y gráficas.
    </p>

    <iframe src="https://www.youtube.com/embed/SATYQyIcimM" allowfullscreen="true"></iframe>

    <p>
        ¿Alguna vez has soñado con un sistema que arranca en menos de unos segundos, 
        desde el encendido hasta una GUI operativa? ¿Con aplicaciones que se inician 
        al instante, inmediatamente después de hacer clic en un icono, sin esos 
        molestos punteros de reloj de arena?
        Esta velocidad se logra porque las partes fundamentales de <b>KolibriOS</b> 
        (núcleo y controladores) están escritas completamente en lenguaje ensamblador
        <a href="http://www.flatassembler.net" target="_blank">FASM</a>!
        Prueba <b>KolibriOS</b> y compáralo con pesos pesados como Windows y Linux.
    </p>

    <p>
        <b>KolibriOS</b> se separó de MenuetOS en 2004 y ha estado en desarrollo 
        independiente desde entonces. 
        Se agradece enormemente tu 
        <a href="http://board.kolibrios.org">retroalimentación</a>, y tu 
        <a href="https://git.kolibrios.org/KolibriOS/kolibrios">ayuda</a> 
        es aún más bienvenida.
    </p>

    <p class="p-subscription">
        <b>
            ¡Esperamos que lo disfrutes!<br />
            Equipo KolibriOS
        </b>
    </p>

{% endblock %}
