{% extends 'tmpl/index.htm' %}

{% block content %}
    {% include 'tmpl/_git.htm' %}

    <p>
        <b>KolibriOS</b> est un système d'exploitation minuscule, 
        mais incroyablement puissant et rapide, pour les PC compatibles x86.
        Il nécessite seulement quelques mégaoctets d'espace disque, 
        un processeur i586 et 12 Mo de RAM.
        Malgré sa petite taille, il comprend une large gamme d'applications telles qu'un 
        éditeur de texte, un visionneur d'images, un éditeur graphique, un navigateur web, 
        et plus de 30 jeux captivants.
        Il prend en charge pleinement les systèmes de fichiers FAT12/16/32, 
        permet la lecture seule de NTFS, exFAT, ISO9660 et Ext2/3/4,
        et offre un vaste ensemble de 
        <a href="http://wiki.kolibrios.org/wiki/Hardware_Support">pilotes</a>
        pour les cartes son, réseau et graphiques populaires.
    </p>

    <iframe src="https://www.youtube.com/embed/SATYQyIcimM" allowfullscreen="true"></iframe>

    <p>
        Avez-vous déjà rêvé d'un système qui démarre en quelques secondes, de la mise 
        sous tension jusqu'à une interface graphique opérationnelle ? Des applications 
        qui se lancent instantanément, immédiatement après avoir cliqué sur une icône, 
        sans ces pointeurs sabliers agaçants ?
        Cette rapidité est obtenue car les parties essentielles de <b>KolibriOS</b> 
        (noyau et pilotes) sont entièrement écrites en langage assembleur 
        <a href="http://www.flatassembler.net" target="_blank">FASM</a> !
        Essayez <b>KolibriOS</b> et comparez-le à des poids lourds tels que Windows et Linux.
    </p>
    
    <p>
        <b>KolibriOS</b> s'est séparé de MenuetOS en 2004 et est développé de manière 
        indépendante depuis lors.
        Vos <a href="http://board.kolibrios.org">retours</a> sont grandement appréciés,
        et votre <a href="https://git.kolibrios.org/KolibriOS/kolibrios">aide</a> 
        est encore plus bienvenue.
    </p>

    <p class="p-subscription">
        <b>
            Nous espérons que vous l'apprécierez !<br />
            L'équipe de KolibriOS
        </b>
    </p>

{% endblock %}