{% extends 'tmpl/index.htm' %}

{% block content %}
    {% include 'tmpl/_git.htm' %}

    <p>
        <b>KolibriOS</b> is een klein maar ongelooflijk krachtig en snel 
        besturingssysteem voor x86-compatibele pc's.
        Het heeft slechts enkele megabytes aan schijfruimte, een i586-processor en 12 MB RAM.
        maar beschikt over een rijk scala aan toepassingen, waaronder een 
        tekstverwerker, afbeeldingsviewer,
        grafische editor, webbrowser en meer dan 30 spannende games.
        Het biedt volledige ondersteuning voor de bestandssystemen FAT12/16/32, 
        en heeft ook leesondersteuning voor NTFS, exFAT, ISO9660 en Ext2/3/4, 
        en beschikt over een uitgebreide set van
        <a href="http://wiki.kolibrios.org/wiki/Hardware_Support">drivers</a>
        voor populaire geluids-, netwerk- en grafische kaarten.
    </p>

    <iframe src="https://www.youtube.com/embed/SATYQyIcimM" allowfullscreen="true"></iframe>

    <p>
        Heb je ooit gedroomd van een systeem dat opstart in minder dan een paar 
        seconden, van het aanzetten tot een werkende GUI? Toepassingen die direct 
        starten, meteen na het klikken op een icoon, zonder die vervelende zandlopers?
        Deze snelheid wordt bereikt omdat de kernonderdelen van <b>KolibriOS</b> 
        (kernel en drivers) volledig in de 
        <a href="http://www.flatassembler.net" target="_blank">FASM</a> assemblytaal
        geschreven zijn! 
        Probeer <b>KolibriOS</b> en vergelijk het met zwaargewichten zoals Windows 
        en Linux.
    </p>

    <p>
        <b>KolibriOS</b> is in 2004 afgesplitst van MenuetOS en wordt sindsdien 
        onafhankelijk ontwikkeld. 
        Jouw <a href="http://board.kolibrios.org">feedback</a> wordt zeer gewaardeerd,
        en jouw <a href="https://git.kolibrios.org/KolibriOS/kolibrios">hulp</a> is 
        nog meer welkom.
    </p>

    <p class="p-subscription">
        <b>
            We hopen dat je ervan zult genieten!<br />
            KolibriOS Team
        </b>
    </p>

{% endblock %}
