{% extends 'tmpl/index.htm' %}

{% block content %}
    {% include 'tmpl/_git.htm' %}

    <p>
        <b>КолибриОС</b> — это крошечная, но невероятно мощная и быстрая операционная 
        система для x86-совместимых ПК. 
        Для её работы достаточно всего нескольких мегабайт места на диске, процессора
        i586 и 12 МБ оперативной памяти.
        При этом она содержит богатый набор приложений, таких как текстовый редактор, 
        просмотрщик изображений, графический редактор, веб-браузер и более 30 
        захватывающих игр.
        Имеется полная поддержка файловых систем FAT12/16/32, только на чтение доступны 
        NTFS, exFAT, ISO9660 и Ext2/3/4, а также присутсвтвует обширный набор 
        <a href="http://wiki.kolibrios.org/wiki/Hardware_Support">драйверов</a> 
        для популярных звуковых, сетевых и графических карт.
    </p>

    <iframe src="https://www.youtube.com/embed/IEi25wYyj20" allowfullscreen="true"></iframe>

    <p>
        Вы когда-нибудь мечтали о системе, которая загружается менее чем за несколько 
        секунд с момента включения до появления работающего графического интерфейса? 
        О приложениях, которые запускаются мгновенно, сразу после нажатия на ярлык, 
        без надоедливых индикаторов загрузки? 
        Такая скорость достигается благодаря тому, что основные части <b>КолибриОС</b> 
        (ядро и драйверы) полностью написаны на ассемблере 
        <a href="http://www.flatassembler.net" target="_blank">FASM</a>! 
        Попробуйте <b>КолибриОС</b> и сравните её с такими тяжеловесами, как 
        Windows и Linux.
    </p>

    <p>
        <b>КолибриОС</b> отделилась от MenuetOS в 2004 году и с тех пор развивается 
        независимым международным сообществом. 
        Ваши <a href="http://board.kolibrios.org">отзывы</a> очень ценится, а ваша 
        <a href="https://git.kolibrios.org/KolibriOS/kolibrios">помощь</a> 
        ценится ещё больше.
    </p>

    <p class="p-subscription">
        <b>
            Надеемся, вам понравится! <br/>
            Команда КолибриОС
        </b>
    </p>

{% endblock %}
