<!doctype html>
<html lang="ru" onmouseup="dropdown_hide()">
<head>
	<meta charset="utf-8">
	<title>Скачать дистрибутив KolibriOS</title>
	<link rel="icon" type="image/x-icon" href="../favicon.ico">
	<meta name="description" content="Страница закачек KolibriOS">
	<meta name="keywords" content="kolibri, kolibrios, колибри, colibri, operating system, assembler, калибри, fasm, alternate, open source">
	<meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="../style.css">
  <script src='../script.js'></script>
</head>
<body onkeydown='checkkey(event)'>

	<nav id="lang-dropdown">
		<ul>
			<li><a href='../en/download.htm'><img src='../i/fl/en.png' alt='en'/>English</a></li>
			<li><a href='../de/download.htm'><img src='../i/fl/de.png' alt='de'/>Deutsch</a></li>
			<li><a href='../es/download.htm'><img src='../i/fl/es.png' alt='es'/>Español</a></li>
			<li><a href='../fr/download.htm'><img src='../i/fl/fr.png' alt='fr'/>Français</a></li>
			<li><a href='../it/download.htm'><img src='../i/fl/it.png' alt='it'/>Italiano</a></li>
			<li><a href='../nl/download.htm'><img src='../i/fl/nl.png' alt='nl'/>Nederlands</a></li>
			<li><a href='../ru/download.htm' class='sel'><img src='../i/fl/ru.png' alt='ru'/>Русский</a></li>
		</ul>
	</nav>
	
  <nav id="menu">
	<a href="../ru/index.htm">Колибри</a>
	<a href="../ru/download.htm" class='a'>Скачать</a>
	<a href="../ru/screen.htm">Скриншоты</a>
	<a href="http://board.kolibrios.org">Форум</a>
	<a href="http://wiki.kolibrios.org/index.php?title=Main_Page&amp;setlang=ru">Вики</a>
	<a href="http://websvn.kolibrios.org">SVN</a>
	<a href="http://bugs.kolibrios.org" class="notrequired">Баг-трекер</a>
	<button onclick="dropdown_show(this)" id="l"><img src="../i/fl/ru.png" alt="ru"></button>
  </nav>

	<div id="article" class="download">
	<h1>Скачать дистрибутив KolibriOS</h1>
		<table>
			<tr>
				<td width=38><img src="../i/i_cd.png" alt="cd"></td>
				<td class="description_cell">Загрузочный компакт-диск LiveCD</td>
				<td class="date_cell">$autobuild_date_ru</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-iso.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_iso">English</a>
					<a href="//builds.kolibrios.org/rus/latest-iso.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_iso">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-iso.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_iso">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-iso.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_iso">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_floppy.png" alt="floppy"></td>
				<td class="description_cell">Универсальный образ Flash/<acronym title="Загрузка несколько операционных систем на одном компьютере">Multi-boot</acronym></td>
				<td class="date_cell">$autobuild_date_ru</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-distr.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_distr">English</a>
					<a href="//builds.kolibrios.org/rus/latest-distr.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_distr">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-distr.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_distr">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-distr.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_distr">Español</a>
				</td>
			</tr>
			<tr>
				<td width=38><img src="../i/i_uefi.png" alt="uefi"></td>
				<td class="description_cell">Гибридный UEFI/BIOS образ для Flash/HDD</td>
				<td class="date_cell">$autobuild_date_ru</td>
				<td>
					<a href="//builds.kolibrios.org/eng/latest-raw.7z" title="rev. $autobuild_rev_eng, $autobuild_size_eng_raw">English</a>
					<a href="//builds.kolibrios.org/rus/latest-raw.7z" title="rev. $autobuild_rev_rus, $autobuild_size_rus_raw">Русский</a>
					<a href="//builds.kolibrios.org/it/latest-raw.7z" title="rev. $autobuild_rev_it, $autobuild_size_it_raw">Italiano</a>
					<a href="//builds.kolibrios.org/sp/latest-raw.7z" title="rev. $autobuild_rev_sp, $autobuild_size_sp_raw">Español</a>
				</td>
			</tr>
			<tr>
				<td><div></div></td>
				<td colspan="3">
					<button class="help-button" onclick="alert('Для новичка лучше всего подойдёт LiveCD.\n\nПо сравнению с LiveCD преимущество универсального образа в том, что можно сохранять изменения, сделанные в Колибри.\n\nГибридный образ имеет в своём составе поддержку технологии UEFI, которая используется для загрузки системы на новых компьютерах и ноутбуках.');">Какой выбрать?</button>
					<a href="//archive.kolibrios.org/ru/">Архив старых версий</a>
				</td>
			</tr>
		</table>		

		<p>На этой странице представлены ночные сборки дистрибутива &mdash; это означает, что они всегда 
   		содержат самые последние изменения в системе и потому могут быть нестабильны. Колибри распространяется
   		на условиях <a href='http://www.gnu.org/licenses/gpl-2.0.html' target='_blank'>GPLv2</a>, её исходники
   		доступны на нашем <a href='svn://kolibrios.org'>SVN</a> сервере.<br>
   		Успеха и процветания.</p>

	</div>
	<div id="footer">&copy; 2004<span>&ndash;</span>2021 команда Колибри</div>
</body>
</html>
